{% extends "Administrador/base.html" %}
{% block content %}
<section class="section container text-center mt-5">
    <h2>Centros de Ayuda Disponibles</h2>
    <p>Consulta los centros de ayuda disponibles en tu área y obtén el apoyo necesario.</p>

    <!-- Mapa interactivo -->
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

    <!-- Lista de centros de ayuda -->
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <ul class="list-group" id="centros-lista"></ul>
        </div>
    </div>
</section>


<!-- Incluye tu archivo app.js -->
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<!-- API de Google Maps con función de inicialización de mapa -->
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVoASqdWWqhlLbdk1Ovjz4ol-sIvi2Vsk&callback=initMap"></script>
{% endblock %}


